*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    
}

.container{
    
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(https://wallpaperaccess.com/full/1105213.jpg);
    background-size: cover;
    background-position: center;
    
}
.music-player{
    width: 400px;
    padding: 25px 35px;
    text-align: center;
    background:rgba(255, 255, 255, 0.5);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
nav{
    display : flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #000000;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.5);
    border: hidden;
}
.cover{
    width: 220px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 10px 60px rgba(0, 0, 0,0.5);
}
.music-player h1{
    font-size: 20px;
    font-weight: 400;
    color: #333;
    margin-top: 20px;
}
.music-player p{
    padding: 20px; /* Thêm padding 20px cho music-player */
    box-sizing: border-box; 
    font-size: 14px;
    color: #333;
    padding: 2px;
}
#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
    padding: 2px;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: rgba(0, 0, 0, 0.8);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.22);
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;

}
.controls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
.controls div:nth-child(2){
    transform: scale(1.5);
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
}
@keyframes rotate-disc {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotating-disc {
    animation: rotate-disc 5s linear infinite;
}
.playlist-container {
    list-style: none;
    width: 400px;
    height: fit-content;
    padding: 15px;
    margin: 20px;
    background:rgba(255, 255, 255, 0.7);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.playlist-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.playlist li {
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-bottom: 8px;
}

#replay{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

/* Màu mặc định của icon */
#listIcon,
#replayIcon {
    color: #97a0af; /* Màu gốc */
}

/* Khi nút được nhấn */
.active-icon {
    color: #000000; /* Màu khi được nhấn */
}
#shuffle{
    cursor: pointer;
}
#list{
    cursor: pointer;
}
.active-list .fa-bars-staggered {
    color: #FF5733; /* Thay đổi màu khi được kích hoạt */
}

/* CSS cho nút replay */
.active-replay .fa-arrow-rotate-left {
    color: #33FF57; /* Thay đổi màu khi được kích hoạt */
}
.duration {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #333;
    padding: 2px;
}
#current-time {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #333;
    margin-right: 100px; /* Tạo khoảng cách 20px bên phải */
    padding: 2px;
}

#total-time {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #333;
    margin-left: 100px; /* Tạo khoảng cách 20px bên trái */
    padding: 2px;
}